<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <link rel="stylesheet" href="dashboard.css">

    <title>SMIT - Attendance Management System</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand"><img width="60%" class="img-fluid mx-auto my-auto" src="../../imgs/smit.png" alt=""></a>
        <ul class="side-menu">
            <li><a href="./dashboard.html" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li><a href="../addClass/addClass.html"><i class='bx bxs-book icon'></i> Add New Class</a></li>
            <li><a href="../allClasses/allClasses.html" class=""><i class='bx bxs-book icon '></i> All Classes</a>
            <li><a href="#"><i class='bx bxs-graduation icon'></i> Add New Student</a></li>
            <li><a href="#"><i class='bx bxs-search-alt-2 icon'></i> Search Student</a></li>
        </ul>
    </section>

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                
            </form>
            <div class="profile">
                <img src="https://img.icons8.com/office/40/null/guest-male--v1.png"
                    alt="">
                <ul class="profile-link">
                    <li><a href="#"><i class='bx bxs-user-circle icon'></i> Profile</a></li>
                    <li><a href="#"><i class='bx bxs-cog'></i> Settings</a></li>
                    <li><a href="#" onclick="logout()"><i class='bx bxs-log-out-circle'></i> Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <h1 class="title text-center">SMIT - Attendance Management System</h1>
            <div class="info-data">
                <a class="" href="../addClass/addClass.html">
                    <div class="card p-5 bg-primary">
                        <div class="head">
                            <h4 class="text-light">Add New Class</h4>
                        </div>

                    </div>
                </a>
                <a class="" href="#">
                    <div class="card p-5 bg-warning">
                        <div class="head">
                            <h4 class="text-light">Add New Student</h4>
                        </div>

                    </div>
                </a>
                <a class="" href="#">
                    <div class="card p-5 bg-success">
                        <div class="head">
                            <h4 class="text-light">Search Student</h4>
                        </div>

                    </div>
                </a>
            </div>
           
        </main>
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->

    <script type="module" src="dashboard.js"></script>
    <script type="module" src="../../config/firebase.js"></script>
</body>

</html>